$inactive-color: #AAAAAA;
$global-padding: 0px 10px 0px 10px;
.bar {
  margin : 5px;
  background-color: transparent;
}

.power_menu {
  background-color: transparent;
}

.btn-ws {

  .active {
    @extend %element-base;
    background-color: lighten($inactive-color, 15%); 

    &:hover {
      background-color: lighten($inactive-color, 20%);
    }
  }
  .inactive {
    @extend %element-base;
    background-color: $inactive-color;
    &:hover {
      background-color: lighten($inactive-color, 10%); 
    }
  }

}


%element-base {
  border-radius: 5px;
}

.element {
  @extend %element-base;
  background-color: $inactive-color;
}

.systray {
  @extend %element-base;
  background-color: $inactive-color;
  padding: $global-padding;
}

.sound {
  @extend %element-base;
  background-color: $inactive-color;
  color: #ffffff;
  padding: $global-padding;
}

.camera_on {
  @extend %element-base;
  background-color: #66FF66;
  color: #000000;
  padding: $global-padding;
}

.bat-low {
  @extend %element-base;
  background-color: #FF6666;
  color: #ffffff;
}

.bat-mid {
  @extend %element-base;
  background-color: #FFCC66;
  color: #000000;
}
.bat-charging {
  @extend %element-base;
  background-color: #66FF66;
  color: #000000;
}

.wifi-connected {
  @extend %element-base;
  background-color: #66FF66;
  color: #000000;
  padding: $global-padding;
}

.wifi-disconnected {
  @extend %element-base;
  background-color: #FF6666;
  color: #ffffff;
  padding: $global-padding;
}

.menu-item {
  @extend %element-base;
  padding: 10px 20px;
  color: #000000;
  background-color: $inactive-color;
  border: none;

  &:hover {
    background-color: lighten($inactive-color, 10%);
  }
  
  &.suspend:hover {
    background-color: lighten($inactive-color, 15%);
  }

  &.reboot:hover {
    background-color: lighten($inactive-color, 15%);
  }
  
  &.shutdown:hover {
    background-color: lighten($inactive-color, 35%);
  }
}

.menu-button {
  @extend %element-base;
  padding: 0px;
  min-width: 40px;
  min-height: 40px;
  border: none;
  background-color: $inactive-color;
  
  &:hover {
    background-color: lighten($inactive-color, 10%);
  }
}
