.mono/
BraveSoftware/
Code/
JetBrains/
KeePass/
QtProject.conf
Thunar/
autostart/
baloofileinformationrc
chromium/
dconf/
discord/
dlv/
dolphinrc
eww/assets/menu-burger.png
fcitx/
fcitx5/
filetypesrc
github-copilot/
go/
gopls/
gtk-3.0/
htop/
ibus/
kde.org/
kdeglobals
kiorc
kservicemenurc
ktrashrc
kwalletmanagerrc
kwalletrc
mimeapps.list
nvm/
pavucontrol.ini
pulse/
qBittorrent/
rclone/
session/
settings
systemd/
tool_state
trashrc
treesitter.lua
user-dirs.dirs
user-dirs.locale
waybar/
wireplumber.bak/
xfce4/
